{:path "lehrer.html"
 :mode :xhtml
 :title "Lehrer"
 :subtitle "Bhante Samiddhi"
 :image "images/samiddhi.jpg"
 :image-height "65vw"
 :layout "page.edn"
 :description "Bhante Batuwangala Samiddhi, buddhistischer Theravada-Mönch, Lehrer und Autor wurde in Neluwa, einem kleinen Dorf im Süden Sri Lankas, geboren. Bereits im Alter von 10 Jahren trat er der Gemeinschaft der Mönche (Sangha) bei. Nach seiner Grundausbildung in der Schule für Mönche „Sri Vijayananda Pirivena“ in Habarakada/Galle studierte er u.a. an der Universität Colombo Geschichte. Er beendete sein Studium mit dem Bachelor of Art. 2010 schloss er darüber hinaus seine Studien des Buddhismus und der Archäologie mit einem Master ab. Seine Ausbildung umfasst des Weiteren die Sprachen Singhalesisch, Englisch, Pali, Sanskrit, Soziologie, Buddhistische Kultur und Kommunikationswissenschaften. Darüber hinaus schrieb er zahlreiche Artikel für Magazine und Zeitungen und ist Autor mehrerer wissenschaftlicher Bücher."
 :intro (list
         [:style (css [:h1 {:visibility :hidden}])]
         [:section
          [:p (:description *page*)]
          [:p "Bhante Samiddhi ist offen, aufgeschlossen und flexibel. Er akzeptiert und respektiert die verschiedenen Religionen und Kulturen. Ebenso wie Buddha hinterfragt er Dinge und Sachverhalte, bevor er sie als gegeben annimmt und empfiehlt auch seinen Schüler, nichts ungeprüft zu übernehmen. Als spiritueller Lehrer rät er zu Gelassenheit im Umgang mit schwierigen Situationen und glücklichen Momenten. Er lehrt und ermutigt die Menschen mit ruhigem, unerschütterlichem Geist zu leben."]
          [:p "Seit 2012 ist Bhante Samiddhi in Deutschland und hat 2014 das Samadhi Buddhistische Meditationszentrum in Bonn-Ippendorf gegründet."]
          [:p "„Samadhi“ unterstützt alle Menschen, ein spirituell und materiell glückliches Leben zu führen. Es bietet allen Interessierten die Chance, unabhängig von Nationalität, Religionszugehörigkeit oder Kultur die eigene Spiritualität zu entdecken und weiterzuentwickeln. Dieser Grundsatz basiert auf der Lehre Buddhas, der stets Mitgefühl und Herzensgüte gegenüber allen Menschen zeigte, unabhängig von ihrer Herkunft und ihrem Glauben. Unter der Leitung des Theravadamönchs Bhante Samiddhi engagiert sich das Zentrum auch auf kultureller und sozialer Ebene sowie im Bereich des Umweltschutzes."]
          [:h3 "Persönliche Termine"]
          [:p [:strong "Montags von 9:00 – 12:00 Uhr"] " kannst du persönliche Anliegen besprechen, wie z. B."]
          [:ul
           [:li "Fragen zur Meditation (Einführung, Technik, auftretende Schwierigkeiten)"]
           [:li "Beratung zu den Herausforderungen des Alltags"]
           [:li "Beratung zu spirituellen Fragen"]]
          [:p "Bitte vereinbare vorab " (tel-to "+49-228-926-791-38" "telefonisch") " oder per " (mail-to "vensamiddhi@gmail.com" "E-Mail") " einen Termin mit ihm."]])
 :content "sections.edn"}
