(list
 [:head
  [:title (str (:title *site*) " - " (:title *page*))]
  [:meta {:charset "utf-8"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1.0"}]
  [:meta {:name "description" :content (:description *page*)}]
  [:link {:type "text/css" :href "style.css.php" :rel "stylesheet"}]
  (when (= (:path *page*) "events.html")
    [:link {:title (str (:title *site*) " - Events Feed") :type "application/rss+xml" :href "events.xml" :rel "alternate"}])]
 [:body
  [:div
   [:span.prim "Samadhi Buddhistisches Meditationszentrum"]
   [:span.sec "Bonn"]]
  [:header
   [:input {:type "checkbox"
            :class "menu-toggle"
            :id "menu-toggle"}]
   [:label {:for "menu-toggle"
            :class "menu-toggle-button"}
    [:div.spinner.diagonal.part1 ""]
    [:div.spinner.horizontal ""]
    [:div.spinner.diagonal.part2 ""]]
   [:ul#menu
    (for [{:keys [path name]} (:menu *site*)]
      (let [link (link-to path name)]
        (if (= path (:path *page*))
          [:li.current link]
          [:li link])))]]
  (include (:content *page*))
  [:footer {:id "footer"}
   [:p
    [:strong "Wir sind für euch erreichbar"] [:br]
    (link-to "lehrer.html" "Ven. B. Samiddhi") [:br]
    "Samadhi Buddhistisches Meditationszentrum" [:br]
    "Gierolstr. 7" [:br]
    "53127 Bonn" [:br]
    "Tel.: " (tel-to "+49 228 926 791 38") [:br]
    "Mobil: " (tel-to "+49 152 128 152 10") [:br]
    "E-Mail: " (mail-to "vensamiddhi@gmail.com")]
   [:p
    [:strong "„Dana“ ist eine Tugend und bedeutet freiwilliges Geben."] [:br]
    "Das Meditationszentrum finanziert sich ausschließlich durch "
    (link-to "spenden.html" "Spenden und Mitgliedsbeiträge")
    ", daher trägt jede Spende zum Erhalt und Ausbau des Meditationszentrums bei:"
    (include "paypal_button.edn")]
   [:p
    [:a {:href "kontakt.html#impressum"} "Impressum"]
    " | "
    [:a {:href "kontakt.html#haftungsausschluss"} "Haftungsausschluss"]
    " | "
    [:a {:href "kontakt.html#datenschutz"} "Datenschutz"]]]])
