[:p
 [:img.picture-right {:src (:image section)}]
 "Durch Meditation lernen wir nach und nach unseren Geist zu beruhigen. Wir erreichen mit ein wenig Übung und Geduld, einen körperlich und geistig entspannten Zustand. Das ermöglicht uns ein einfaches, ruhiges und übersichtliches Leben ohne Rastlosigkeit zu führen. Wo wir auch immer hingehen, erleben wir Frieden. Meditation lehrt uns auch den eigenen Tod nicht mehr zu fürchten. Wenn wir über einen längeren Zeitraum meditieren, erfahren wir die Natur der Realität und befreien uns von unseren vielfältigen Ängsten. Wir entwickeln mehr und mehr unsere guten Eigenschaften. Freundlichkeit, Herzensgüte, Mitgefühl, Weisheit sowie ein starkes Vertrauen in ein spirituelles und glückliches Leben sind das Resultat."]
