[:p
 [:img.picture-left {:src (:image section)}]
 "Wir leben in einer vielschichtigen und hektischen Gesellschaft. Es ist unsere Aufgabe mit Hilfe von Mitgefühl und liebender Güte, den sozialen Frieden zu fördern und zu bewahren, wie es der Buddha gelehrt hat. Samadhi setzt sich für ein friedvolles Miteinander ein und arbeitet auch in diesem Sinne mit anderen Organisationen zusammen."]
