(list
 [:h3 "Meditations- und Achtsamkeitslehrer -Ausbildung: basiert auf buddhistischer Praxis (Mit Zertifikat)"]
 [:p "Neue Erkenntnis und neue Lebensphilosophie"]
 [:p "In dieser Ausbildung werden die Grundlagen der buddhistischen Praxis (Dhamma) vermittelt. Es wird Wert auf einen
alltagstauglichen Zugang zur Spiritualität durch Meditation, Achtsamkeit und Bewusstseinstraining gelegt. Die
buddhistischen Inhalte werden nicht als dogmatische, starre und traditionsgebundene Religion unterrichtet sondern im
Sinne einer modernen, an die westliche Welt angepassten Lebensphilosophie."]
 [:h4 "Methode"]
 [:p "Gewahrsein → Resonanz mit uns → Gedanken als Gedanken erkennen → Emotionen als Emotionen Wahrnehmen → Akzeptieren → Loslassen"]
 [:ul
  [:li "Das Prinzip des Bedingten Entstehens und der Vier Edlen Wahrheiten als Prozess des Bewusstsein."]
  [:li "Wie wir mit uns in Resonanz gehen, um unseren Körper, unsere Gefühle, Denkweise, Fantasien, Konzepte und
 Veränderungen achtsam wahrzunehmen."]
  [:li "Wir konzentrieren uns darauf, die Bewegungen des Geistes zu erkennen und schulen dadurch unsere Achtsamkeit und
 Willenskraft."]
  [:li "Durch die Meditation werden wir gewahr, so dass wir uns betrachten, erforschen und erfrischen können."]
  [:li "Unseren Blick nach innen zu richten, damit wir wieder im Einklang mit uns selbst sind."]
  [:li "Techniken und Werkzeuge kennenlernen, die uns helfen, heilsam und zuversichtlich mit den eigenen, verfügbaren
 Kräften durchs Leben zu gehen."]]
 [:h4 "Zielgruppe"]
 [:ul
  [:li "Menschen, die für sich selbst Ruhe und Heilung erfahren sowie Erkenntnisse zur eigenen Befreiung erlangen wollen."]
  [:li "Yoga-, Achtsamkeits- und Meditationslehrer: als Weiterbildung."]
  [:li "HeilpraktikerInnen, die Meditation als eine Form der Selbstheilung an ihre Patienten weitergeben wollen."]
  [:li "Psychologische Berater/Spirituelle Berater."]]
 [:h4 "Theorie"]
 [:p "Samstags 3 Stunden Unterricht"]
 [:h4 "Meditationspraxis"]
 [:p "Mindestens einmal an den drei Meditationssessions Samstags, Mittwochs und Freitags teilnehmen, drei Achtsamkeitstage und ein Wochenend-Retreat."]
 [:h4 "Dauer und Kosten"]
 [:p "Maximal 10 Teilnehmer."]
 [:p "10 Monaten (von Februar bis November 2024)."]
 [:p "60 Euro monatlich."])
